.container {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
}

.list {
  mat-list-item {
    ::ng-deep {
      .mat-list-item-content {
        justify-content: space-between;
        a {
          text-decoration: none;
          color: wheat;
        }
      }
    }
  }
}

.left {
  width: 33%;
}

.right {
  width: 33%;
}
