<div class="container">
  <div class="left"></div>
  <div class="list">
    <h1>Tasks</h1>
    <mat-list>
      <mat-list-item class="item" *ngFor="let todo of todos; let index = index">
        <div *ngIf="todo.description; else elseBlock">
          <a routerLink="/details/{{ todo.date }}">{{ todo.title }}</a>
        </div>
        <ng-template #elseBlock>{{ todo.title }}</ng-template>
        <mat-icon
          mat-stroked-button
          color="accent"
          type="button"
          (click)="deleteTodo(todo.date)"
          >delete</mat-icon
        >
      </mat-list-item>
    </mat-list>
  </div>
  <div class="right"></div>
</div>
