.date {
  color: rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
}

// @media only screen and (max-width: 768px) {
.list {
  mat-list-item {
    ::ng-deep {
      .mat-list-item-content {
        justify-content: space-between;
        color: black;
      }
    }
  }
}
// }

@media only screen and (max-width: 1080px) {
  .list {
    mat-list-item {
      ::ng-deep {
        .mat-list-item-content {
          color: black;
        }
      }
    }
  }
}
