<div class="container">
  <div class="left"></div>
  <div class="center">
    <h1>Login Page</h1>
    <br />
    <form
      [formGroup]="loginForm"
      #form="ngForm"
      (ngSubmit)="onSubmit(loginForm.value)"
    >
      <mat-form-field appearance="fill">
        <mat-label>Email: </mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          required
          autocomplete
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <label>Password: </label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          autocomplete
        />
      </mat-form-field>

      <br />
      <button mat-raised-button type="submit">Login</button>
    </form>
    <a routerLink="/registration">Don't have an account?</a>
    <!-- <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      distinctio veritatis magni aperiam libero minus animi quasi pariatur
      soluta suscipit atque quisquam dolorum optio eius saepe id, vero porro
      provident perspiciatis illo? Quia quam natus ullam nisi facilis magni
      consectetur quos quae aliquid a deleniti, consequatur ducimus beatae
      eligendi sapiente distinctio in quas fuga. Dolor, quasi nihil incidunt
      tenetur natus ratione delectus est hic sit magni. Architecto, minus
      accusamus quae, ea ab accusantium nobis omnis debitis, nisi nostrum quasi
      quo optio vero? Totam iste consequatur quis eos quod iusto ipsa
      consectetur sint, delectus harum praesentium a rem odit eaque aut et
      deserunt mollitia quae saepe ullam quos dicta quo accusantium? Maxime id
      iusto velit quia placeat. Asperiores, aliquid eveniet in laudantium
      similique exercitationem esse tempore accusantium ex ipsam harum voluptate
      eius dolore alias! Deserunt eveniet illo quod obcaecati doloribus
      molestias atque? Beatae molestias ipsum quasi quas sapiente asperiores a
      delectus aliquid expedita, ea ducimus maxime. Debitis eaque enim quod
      quaerat laudantium et. Quos repellendus dolore molestias exercitationem
      rerum illum omnis necessitatibus atque! Quas soluta animi cumque totam quo
      voluptatum maxime, iure quisquam alias molestiae ipsa eum quibusdam
      debitis laboriosam, corporis et repudiandae sapiente assumenda mollitia
      eveniet? Accusamus id dolorum totam.
    </p> -->
  </div>
  <div class="right"></div>
</div>
