<div class="container">
  <div class="left"></div>
  <div class="center">
    <h1>Login Page</h1>
    <br />
    <form
      [formGroup]="loginForm"
      #form="ngForm"
      (ngSubmit)="onSubmit(loginForm.value)"
    >
      <mat-form-field appearance="fill">
        <mat-label>Email: </mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          required
          autocomplete
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <label>Password: </label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          autocomplete
        />
      </mat-form-field>

      <br />
      <button mat-raised-button type="submit">Login</button>
    </form>
    <a routerLink="/registration">Don't have an account?</a>
  </div>
  <div class="right"></div>
</div>
