<div class="container">
  <div class="left"></div>
  <div class="center">
    <form [formGroup]="todoForm" #form="ngForm" (ngSubmit)="onSubmit(todoForm)">
      <label>Title: </label>
      <br />
      <input type="text" formControlName="title" required />
      <br />
      <label>Description: </label>
      <br />
      <input type="text" formControlName="description" />
      <br />
      <button mat-raised-button type="submit" color="accent">Submit</button>
      <div
        class="error"
        *ngIf="todoForm.get('title').hasError('required') && form.submitted"
      >
        Title field is required!
      </div>
      <div
        class="error"
        *ngIf="todoForm.get('title').hasError('minlength') && form.submitted"
      >
        The title should be at least 3 characters long!
      </div>
    </form>
  </div>
  <div class="right"></div>
</div>
